In [1]:
# importing the libraries
import nltk
import pandas as pd

In [3]:
# Lets look at the number of times a word appears in a list
# For calculating the word frequency we will use ngrams,FreqDist methods from nltk

from nltk import ngrams,FreqDist

ls_txt=["this","is","python","programming","course","this","is","programming","course"]
ls_txt

['this',
 'is',
 'python',
 'programming',
 'course',
 'this',
 'is',
 'programming',
 'course']

In [4]:
# Using value_counts to get the fequency count
s1=pd.Series(ls_txt)
s1.value_counts(normalize=False)

course         2
is             2
this           2
programming    2
python         1
dtype: int64

In [5]:
# Lets have two list
ls_txt1=["this","is","python","programming","course","this","is","programming","course"]
ls_txt1

['this',
 'is',
 'python',
 'programming',
 'course',
 'this',
 'is',
 'programming',
 'course']

In [7]:
# List 2
ls_txt2=["python","python"]
ls_txt2

['python', 'python']

In [9]:
# Creating data frame from ls_txt1
s1=pd.Series(ls_txt1)
df1=pd.DataFrame(s1)
df1['Doc']=1
df1

             0  Doc
0         this    1
1           is    1
2       python    1
3  programming    1
4       course    1
5         this    1
6           is    1
7  programming    1
8       course    1

In [11]:
# Creating data frame from ls_txt2
s2=pd.Series(ls_txt2)
df2=pd.DataFrame(s2)
df2['Doc']=2
df2

        0  Doc
0  python    2
1  python    2

In [13]:
# Combining df1 and df2 into df3
df3 = pd.concat([df1.reset_index(drop=True), df2], axis=0)
df3

             0  Doc
0         this    1
1           is    1
2       python    1
3  programming    1
4       course    1
5         this    1
6           is    1
7  programming    1
8       course    1
0       python    2
1       python    2

In [14]:
# Changing the column names to something meaningful
df3.columns=['Features','Doc']
df3.columns
df3.head(3)

  Features  Doc
0     this    1
1       is    1
2   python    1

In [15]:
# Getting the unique words per document
# Unique words per Doc
df3.groupby('Doc')['Features'].nunique()

Doc
1    5
2    1
Name: Features, dtype: int64

In [16]:
# Total word frequency distribution
df3.Features.value_counts()
#Its type is a Series

python         3
course         2
is             2
this           2
programming    2
Name: Features, dtype: int64

In [17]:
# Total word frequency distribution per doc
df3.groupby(['Doc','Features']).size().sort_values(ascending=False)
# type(df3.groupby(['Doc','Features']).size().sort_values(ascending=False)) is a series

Doc  Features
2    python         2
1    this           2
     programming    2
     is             2
     course         2
     python         1
dtype: int64

In [18]:
# Lets convert this to a data frame
df4=pd.DataFrame(df3.groupby(['Doc','Features']).size().sort_values(ascending=False))
df4

                 0
Doc Features
2   python       2
1   this         2
    programming  2
    is           2
    course       2
    python       1

In [19]:
# Lets look at the column names
df4.columns

RangeIndex(start=0, stop=1, step=1)

In [20]:
# Bringing the index into the data frame as a column
df5=df4.reset_index()
df5

   Doc     Features  0
0    2       python  2
1    1         this  2
2    1  programming  2
3    1           is  2
4    1       course  2
5    1       python  1

In [21]:
# Changing the column names
df5.columns=['Doc','Features','Frequency']
df5

   Doc     Features  Frequency
0    2       python          2
1    1         this          2
2    1  programming          2
3    1           is          2
4    1       course          2
5    1       python          1

In [22]:
# We can also use nltk distribution function
# Using nltk freq distribution function
freq_dist=nltk.FreqDist(df3['Features'])
list(freq_dist)

['this', 'is', 'python', 'programming', 'course']

In [23]:
# Lets get the freq count of course word
freq_dist['course']

2

In [ ]:
# Lets look at ngrams
# These are basically group of words that define a token
# unigrams: single word token
# bigrams: double word token
# trigrams: three word token
# and so on

In [24]:
# Unigrams :single word token
from nltk import ngrams
sentence = 'this is a dummy sentences and i want to ngramize it. this will be great'
n = 1
l1=[]
unigrams = ngrams(sentence.split(), n)
for i in unigrams:
    print(i)
    l1.append(i[0])
# The output is in the form of a tuple

('this',)
('is',)
('a',)
('dummy',)
('sentences',)
('and',)
('i',)
('want',)
('to',)
('ngramize',)
('it.',)
('this',)
('will',)
('be',)
('great',)

In [25]:
# Lets see the contents of l1
# It must have all the unigram tokens
l1

['this',
 'is',
 'a',
 'dummy',
 'sentences',
 'and',
 'i',
 'want',
 'to',
 'ngramize',
 'it.',
 'this',
 'will',
 'be',
 'great']

In [26]:
# Creating a data frame for word frequency
df4=pd.DataFrame(l1,columns=['text'])
freq_dist=nltk.FreqDist(df4['text'])
df5=pd.DataFrame(pd.Series(freq_dist),columns=['Unigram_Count'])
df5.sort_values(['Unigram_Count'])
df6=df5.sort_values(['Unigram_Count'],ascending=False)
df6

           Unigram_Count
this                   2
is                     1
a                      1
dummy                  1
sentences              1
and                    1
i                      1
want                   1
to                     1
ngramize               1
it.                    1
will                   1
be                     1
great                  1

In [27]:
# Bigrams :double word token (consecutive words)
from nltk import ngrams
sentence = 'this is a dummy sentences and i want to ngramize it. this is great'
n = 2
l1=[]
bigrams = ngrams(sentence.split(), n)
for i in bigrams:
    print(i)
    l1.append(i)
# The output is in the form of a tuple

('this', 'is')
('is', 'a')
('a', 'dummy')
('dummy', 'sentences')
('sentences', 'and')
('and', 'i')
('i', 'want')
('want', 'to')
('to', 'ngramize')
('ngramize', 'it.')
('it.', 'this')
('this', 'is')
('is', 'great')

In [28]:
# elements within l1
l1

[('this', 'is'),
 ('is', 'a'),
 ('a', 'dummy'),
 ('dummy', 'sentences'),
 ('sentences', 'and'),
 ('and', 'i'),
 ('i', 'want'),
 ('want', 'to'),
 ('to', 'ngramize'),
 ('ngramize', 'it.'),
 ('it.', 'this'),
 ('this', 'is'),
 ('is', 'great')]

In [30]:
# creating single element out of list
l2=[i[0]+' '+i[1] for i in l1]
l2
# Now each element in l2 represents a bigram

['this is',
 'is a',
 'a dummy',
 'dummy sentences',
 'sentences and',
 'and i',
 'i want',
 'want to',
 'to ngramize',
 'ngramize it.',
 'it. this',
 'this is',
 'is great']

In [31]:
# Creating a data frame for word frequency
df4=pd.DataFrame(l2,columns=['text'])
freq_dist=nltk.FreqDist(df4['text'])
df5=pd.DataFrame(pd.Series(freq_dist),columns=['Bigram_Count'])
df5.sort_values(['Bigram_Count'])
df6=df5.sort_values(['Bigram_Count'],ascending=False)
df6

                 Bigram_Count
this is                     2
is a                        1
a dummy                     1
dummy sentences             1
sentences and               1
and i                       1
i want                      1
want to                     1
to ngramize                 1
ngramize it.                1
it. this                    1
is great                    1

In [32]:
# Trigrams :tripple word token (consecutive words)
from nltk import ngrams
sentence = 'this is a dummy sentences and i want to ngramize it. this is a great thing'
n = 3
l1=[]
trigrams = ngrams(sentence.split(), n)
for i in trigrams:
    print(i)
    l1.append(i)
# The output is in the form of a tuple

('this', 'is', 'a')
('is', 'a', 'dummy')
('a', 'dummy', 'sentences')
('dummy', 'sentences', 'and')
('sentences', 'and', 'i')
('and', 'i', 'want')
('i', 'want', 'to')
('want', 'to', 'ngramize')
('to', 'ngramize', 'it.')
('ngramize', 'it.', 'this')
('it.', 'this', 'is')
('this', 'is', 'a')
('is', 'a', 'great')
('a', 'great', 'thing')

In [33]:
# creating single element out of list
l2=[i[0]+' '+i[1]+' '+i[2] for i in l1]
l2
# Now each element in l2 represents a trigram

['this is a',
 'is a dummy',
 'a dummy sentences',
 'dummy sentences and',
 'sentences and i',
 'and i want',
 'i want to',
 'want to ngramize',
 'to ngramize it.',
 'ngramize it. this',
 'it. this is',
 'this is a',
 'is a great',
 'a great thing']

In [35]:
# Creating a data frame for word frequency
df4=pd.DataFrame(l2,columns=['text'])
freq_dist=nltk.FreqDist(df4['text'])
df5=pd.DataFrame(pd.Series(freq_dist),columns=['Trigram_Count'])
df5.sort_values(['Trigram_Count'])
df6=df5.sort_values(['Trigram_Count'],ascending=False)
df6

                     Trigram_Count
this is a                        2
is a dummy                       1
a dummy sentences                1
dummy sentences and              1
sentences and i                  1
and i want                       1
i want to                        1
want to ngramize                 1
to ngramize it.                  1
ngramize it. this                1
it. this is                      1
is a great                       1
a great thing                    1

In [48]:
# Lets try and create a Document Term matrix based on the above analysis
# For this we would require two things:
# 1: List of the Document(this would be the rows in DTM)
# 2: Features(columns) to be present in DTM

text_df=pd.DataFrame(["This is python programming","Python is for Data Science"],columns=['Text'])
text_df=text_df.reset_index()
text_df.columns=['Doc_ID','Text']
text_df

   Doc_ID                        Text
0       0  This is python programming
1       1  Python is for Data Science

In [64]:
# Modifying the WhitespaceTokenizer function so that result is stored in a list
def tokenize(text):
    tokenizer = nltk.tokenize.WhitespaceTokenizer()
    token = []
    for item in text:
        token.append(tokenizer.tokenize(item))
    return token

In [75]:
l1_text=[i for i in tokenize(text_df['Text'])]
l1_text

[['This', 'is', 'python', 'programming'],
 ['Python', 'is', 'for', 'Data', 'Science']]

In [80]:
# Converting the data frame into a dictionary
# Lets say we take 'python' as the feature
text_dict=text_df.set_index('Doc_ID').T.to_dict('list')
text_dict

{0: ['This is python programming'], 1: ['Python is for Data Science']}

In [95]:
n_nonzero = 0
for docterms in text_dict.values():
    print(docterms[0])
    print((tokenize(docterms)))
    #unique_terms = set(tokenize(docterms))   # all unique terms of this doc
    #vocab |= unique_terms           # set union: add unique terms of this doc
    #n_nonzero += len(unique_terms)  # add count of unique terms in this doc

# make a list of document names
# the order will be the same as in the dict
#docnames = list(docs.keys())

This is python programming
[['This', 'is', 'python', 'programming']]
Python is for Data Science
[['Python', 'is', 'for', 'Data', 'Science']]