In [2]:
# Importing the libraries
import nltk
import sklearn
import pandas as pd
import numpy as np
import string

In [3]:
# Setting the option  to display the entire text row
pd.set_option('display.max_colwidth', -1)

In [4]:
# import the data set
dr="C:\\NLP in Python\\Sentiment Analysis Analytics Vidya"
df_train=pd.read_csv(dr+"\\train_E6oV3lV.csv")
df_train.head()

# There are three columns
# 1: id
# 2: label (1 and 0)
# 3: tweet (text form)

df_train.head()

,id,label,tweet
0,1,0,@user when a father is dysfunctional and is so selfish he drags his kids into his dysfunction. #run
1,2,0,@user @user thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx. #disapointed #getthanked
2,3,0,bihday your majesty
3,4,0,#model i love u take with u all the time in urð±!!! ðððð ð¦ð¦ð¦
4,5,0,factsguide: society now #motivation

In [3]:
df_train.shape
# 31962 rows and three columns

(31962, 3)

In [10]:
# checking the frequency distribution
df_train['label'].value_counts()
# 29720 '0'
# 2242 '1'
zeroes_cnt=df_train['label'].value_counts()[0]
ones_cnt=df_train['label'].value_counts()[1]

In [27]:
# Cleaning the data set
# creating the stop word list
# Removing rows corresponding to stop word
# Stop word removal using inbuilt and custom list
from nltk.corpus import stopwords
stop = set(stopwords.words('english'))
stop2=list(stop)
stop2.extend(['@user','@user @user','&amp;','@user @user @user','-','u','Ã¢Â€Â“',
             'Ã¢Â€Â”','Ã¢Â€Â¦','Ã¢Â†Â','Ã¢ÂÂ¤','Ã¢ÂÂ¤Ã¯Â¸Â','Ã°ÂŸÂ’Â•','Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¦',
             'Ã°ÂŸÂ”Â','Ã°ÂŸÂ”Â  #love','Ã°ÂŸÂ”Â  #love  #instagood',
             'Ã°ÂŸÂ˜','Ã°ÂŸÂ˜Â€','Ã°ÂŸÂ˜Â','Ã°ÂŸÂ˜Â‚','Ã°ÂŸÂ˜Â„',
            'Ã°ÂŸÂ˜ÂŠ','Ã°ÂŸÂ˜Â','Ã°ÂŸÂ˜Â”','Ã°ÂŸÂ˜Â˜','Ã°ÂŸÂ˜Â™Ã°ÂŸÂ˜ÂŽÃ°ÂŸÂ‘Â„Ã°ÂŸÂ‘',
            'Ã°ÂŸÂ˜Â™Ã°ÂŸÂ˜ÂŽÃ°ÂŸÂ‘Â„Ã°ÂŸÂ‘  Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¦','Ã°ÂŸÂ˜Â¢',
             'Ã¢Â€Â¦','!!','!!!','Ã¢Â€Â¦',        'Ã¢Â€Â¦','2','Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¦',
            'Ã°ÂŸÂ˜Â™Ã°ÂŸÂ˜ÂŽÃ°ÂŸÂ‘Â„Ã°ÂŸÂ‘  Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¦','Ã°ÂŸÂ˜Â™Ã°ÂŸÂ˜ÂŽÃ°ÂŸÂ‘Â„Ã°ÂŸÂ‘',
            '...','Ã¢Â†Â','4','1','3','Ã°ÂŸÂ˜ÂŠ','Ã¢ÂÂ¤Ã¯Â¸Â','.@user','#a','5',':(','Ã°ÂŸÂ˜Â','Ã¢Â€Â“',
            '..','Ã°ÂŸÂ˜Â‚','Ã°ÂŸÂ˜Â”','10','Ã°ÂŸÂ˜Â','1st','7','Ã°ÂŸÂ˜Â¢','#Ã¢Â€Â¦','6','Ã°ÂŸÂ˜Â€','Ã°ÂŸÂ˜Â˜',
              'Ã°ÂŸÂ’Â•','Ã°ÂŸÂ”Â','Ã¢ÂÂ¤','Ã°ÂŸÂ˜Â„','Ã°ÂŸÂ”Â  #love','50','2nd','8','Ã¢Â€Â”','Ã°ÂŸÂ˜','3d:',
                'ð\x9f\x98\x99ð\x9f\x98\x8eð\x9f\x91\x84ð\x9f\x91  ð\x9f\x92¦ð\x9f\x92¦ð\x9f\x92¦',
              'Ã°ÂŸÂ˜Â™Ã°ÂŸÂ˜ÂŽÃ°ÂŸÂ‘Â„Ã°ÂŸÂ‘Â…Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¦'
])

In [28]:
# We need to analyse the text data stored in the 'tweet' column
# Before that lets define some key functions
# Creating functions to do tokenisation and punctuation removal

# White space tokenizer
def tokenize(text):
    tokenizer = nltk.tokenize.WhitespaceTokenizer()
    token = []
    for item in text:
        token.append(tokenizer.tokenize(item))
        
    # Removing stop words
    ls_dummy1=[]
    ls_dummy2=[]
    temp=1
    for i in token:
        ls_dummy1=[]
        for j in i:
            if j in stop2:
                temp=1
            else:
                ls_dummy1.append(j)
        ls_dummy2.append(ls_dummy1)
    l3=ls_dummy2
        
    return l3

# Creating a function for removing the puntuation from text
def rem_punctuation(data_frame,colname):
    l3=[]
    l2=[i for i in data_frame[colname]]
    l3=tokenize(l2)

    # Removing the punctuations
    l5=[]
    l6=[]
    for j in l3:
        for k in j:
            if k in string.punctuation:
                temp=1
            else:
                l5.append(k)
        l6.append(l5)
        l5=[]
    c_ls=[" ".join(i) for i in l6]
    df1=pd.DataFrame(c_ls)
    df1.columns=['Text']
    return(df1)

# We will now create a function that takes in text and ngram list
# text/document is stores in a list
# list also specifies ngram paramter
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk import word_tokenize

# The function should take the column containing text data
def TF_NGRAM(data_frame,colname,ngram):
    # Tokenize the data
    DocID_ls=[]

    #Appending the Doc_ID column
    data_frame['Doc_ID']=[i for i in range(1,data_frame[colname].shape[0]+1)]


    from nltk import ngrams       
    l1=[]
    for i in data_frame['Doc_ID']:
        for k in data_frame[data_frame['Doc_ID']==i][colname]:
            for j in ngram:
                unigrams = ngrams(k.split(), j)
                for z in unigrams:
                    if j==1:
                        l1.append(z[0])
                    elif j==2:
                        l1.append(z[0] + " , " +z[1])
                    elif j==3:
                        l1.append(z[0] + " , " +z[1]+" , " +z[2])
                    elif j==4:
                        l1.append(z[0] + " , " +z[1]+" , " +z[2] +" , " +z[3])

                    DocID_ls.append(i)

    # Creating a Data Frame out of it

    s1=pd.Series(l1)
    s2=pd.Series(DocID_ls)
    df1=pd.DataFrame(s2)
    df1['s1']=s1
    df1.columns=['Doc_ID','Tokens']
    df1
    return(df1)

In [29]:
# If you look closely, there are certain characters such as Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¿Ã¢ÂœÂ (row 4 for instance)
# These are meaningless and hence they need to be removed
# Removing the special character/ascii character
twt=[str(i).encode('ascii', 'ignore').decode("utf-8") for i in df_train['tweet'] ]
df_train['tweet']=twt
df_train.head()

,id,label,tweet
0,1,0,@user when a father is dysfunctional and is so selfish he drags his kids into his dysfunction. #run
1,2,0,@user @user thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx. #disapointed #getthanked
2,3,0,bihday your majesty
3,4,0,#model i love u take with u all the time in ur!!!
4,5,0,factsguide: society now #motivation

In [30]:
# removing the special characters doesnt reduce the number of records 
df_train.shape

(31962, 3)

In [31]:
# Removing punctuations, stop words etc
df=rem_punctuation(df_train,'tweet')
df.head()
df.to_csv(dr + "\\cleaned.csv")

In [32]:
df['Doc_ID']=range(1,df.shape[0]+1)
df.head()

,Text,Doc_ID
0,father dysfunctional selfish drags kids dysfunction. #run,1
1,thanks #lyft credit can't use cause offer wheelchair vans pdx. #disapointed #getthanked,2
2,bihday majesty,3
3,#model love take time ur!!!,4
4,factsguide: society #motivation,5

In [33]:
df.shape
# So no rows were removed during punctuation and stop word removal

(31962, 2)

In [34]:
# Calculating the total number of blanks in df
#len(np.where(df['Text'].applymap(lambda x: x == ''))[0]) # 19 ff them
blnk_Doc_ID=df['Text']==""
df[blnk_Doc_ID].shape

# There are 19 Doc_ID which are blank after Removing punctuations, stop words etc

(19, 2)

In [35]:
# Storing the Doc_ID's that have blank in 'Text'
ls_blnk_Doc_ID=df[blnk_Doc_ID]['Doc_ID']
ls_blnk_Doc_ID

1961     1962
3351     3352
3982     3983
4411     4412
4799     4800
5235     5236
5309     5310
7939     7940
9034     9035
10461    10462
10802    10803
13038    13039
13287    13288
13848    13849
13862    13863
16320    16321
20261    20262
25629    25630
28513    28514
Name: Doc_ID, dtype: int32

In [36]:
# ngram frequency analysis
# checking the ngram distribution
ngram_df=TF_NGRAM(df,'Text',[1,2,3])
ngram_df.head(11)

    Doc_ID                   Tokens
0   1       father
1   1       dysfunctional
2   1       selfish
3   1       drags
4   1       kids
5   1       dysfunction.
6   1       #run
7   1       father , dysfunctional
8   1       dysfunctional , selfish
9   1       selfish , drags
10  1       drags , kids

In [37]:
# checking the number of unique 'Doc_ID' in ngram_df
len(ngram_df['Doc_ID'].unique())

31943

In [38]:
# Replace all , in Tokens with ""
import re
ngram_df['Tokens']=ngram_df['Tokens'].apply(lambda x: re.sub(',','',x))
ngram_df.head()

   Doc_ID         Tokens
0  1       father
1  1       dysfunctional
2  1       selfish
3  1       drags
4  1       kids

In [39]:
ngram_df.columns

Index(['Doc_ID', 'Tokens'], dtype='object')

In [40]:
ngram_df.shape

(666358, 2)

In [41]:
# checking the number of unique 'Doc_ID' in ngram_df
len(ngram_df['Doc_ID'].unique())

31943

In [42]:
# If we add the ones that had blanks in df (19 of them), then we would get 31962 which is the 
# total count of Doc_ID in the input data

In [43]:
# Creating a Data Frame that has 'dummy' values for all Doc_ID
#ls_blnk_Doc_ID=list(blnk_Doc_ID)

blnk_df=pd.DataFrame(df['Doc_ID'],columns=['Doc_ID'])
blnk_df['Tokens']='dummy'
blnk_df.head()

   Doc_ID Tokens
0  1       dummy
1  2       dummy
2  3       dummy
3  4       dummy
4  5       dummy

In [44]:
ngram_df.shape

(666358, 2)

In [45]:
# Binding ngram_df and blnk_df row wise
ngram_df2=pd.concat([ngram_df,blnk_df],axis=0)
len(ngram_df2['Doc_ID'].unique())

31962

In [46]:
# Creating a summary at Doc_ID and Tokens level
ngram_df2['Frequency']=1
ngram_df0=ngram_df2.groupby(['Doc_ID','Tokens'])['Frequency'].sum().reset_index()
ngram_df0.head()

   Doc_ID                     Tokens  Frequency
0  1       #run                       1
1  1       drags                      1
2  1       drags  kids                1
3  1       drags  kids  dysfunction.  1
4  1       dummy                      1

In [47]:
# Creating the summary at an overall level
freq_dist=nltk.FreqDist(ngram_df0['Tokens'])
df5=pd.DataFrame(pd.Series(freq_dist),columns=['Count'])
df5.sort_values(['Count'])
df6=df5.sort_values(['Count'],ascending=False).reset_index()
df6.shape # 827k records
df6.head()

   index  Count
0  dummy  31962
1  #love  1509
2  day    1482
3  happy  1314
4  love   1104

In [48]:
# Filtering out the ngrams
df7=df6[df6['Count'] > 50]
df7.shape
# For the first run lets keep features identified in df7

(871, 2)

In [49]:
# Writing the tokens to a file
df7.to_csv(dr+"\\tokens.csv")

In [50]:
token=[i for i in df7['index']]
len(token)

871

In [51]:
# Creating the DTM

pos=[i in token for i in ngram_df0['Tokens']] # filtering on the tokens given in 'token' list
ngram_df_DTM0=ngram_df0[pos]
ngram_df_DTM0.head()

    Doc_ID  Tokens  Frequency
4   1       dummy   1
10  1       father  1
13  1       kids    1
25  2       can't   1
28  2       cause   1

In [52]:
ngram_df_DTM0.shape

(150469, 3)

In [53]:
# Pivotting df3 
ngram_df_DTM=ngram_df_DTM0.pivot(index='Doc_ID',columns='Tokens',values='Frequency').fillna(0).reset_index()
ngram_df_DTM.head()

Tokens,Doc_ID,#2016,#affirmation,#affirmations,#allahsoil,#altwaystoheal,#altwaystoheal #healthy,#amazing,#anxiety,#awesome,...,year,years,yes,yet,yo,you,you!,you.,you?,young
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [54]:
ngram_df_DTM.shape
# ngram_df_DTM has all the Doc_IDs

(31962, 872)

In [55]:
# writing the columns to a csv
clm=ngram_df_DTM.columns
np.array([clm])
#pd.DataFrame(np.array([clm]).to_csv("C:\\NLP in Python\\Sentiment Analysis Analytics Vidya\\final_features.csv")
ngram_df_DTM.to_csv("C:\\NLP in Python\\Sentiment Analysis Analytics Vidya\\ngram_DTM.csv")

In [56]:
# dimension of ngram_df_DTM
ngram_df_DTM.shape

(31962, 872)

In [57]:
# Joining this with the 'id' column from input data frame(df_train) to bring in the labels 

# LEFT JOIN
df_final=pd.merge(ngram_df_DTM,df_train,left_on='Doc_ID',right_on='id',how='left')
df_final.shape

(31962, 875)

In [58]:
df_final.head()

,Doc_ID,#2016,#affirmation,#affirmations,#allahsoil,#altwaystoheal,#altwaystoheal #healthy,#amazing,#anxiety,#awesome,...,yet,yo,you,you!,you.,you?,young,id,label,tweet_y
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,@user when a father is dysfunctional and is so selfish he drags his kids into his dysfunction. #run
1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,0,@user @user thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx. #disapointed #getthanked
2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,0,bihday your majesty
3,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,0,#model i love u take with u all the time in ur!!!
4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,0,factsguide: society now #motivation

In [59]:
nm=pd.DataFrame(df_final.columns,columns=['Col_Name'])
nm.to_csv("C:\\NLP in Python\\Sentiment Analysis Analytics Vidya\\Final_Features.csv")

In [60]:
#checking the number of ones in label column
df_final['label'].value_counts()

# in the input train data, following is the 0 and 1 distribution
# 29720 '0'
# 2242 '1'

0    29720
1    2242
Name: label, dtype: int64

***We have made the Doc_Feature Matrix  
Now we need to train the model with the labels***

In [61]:
# importing libraries for building the model
# mostly it will be the functions around sklearn library
import pandas as pd
import numpy as np
import sklearn

from sklearn import preprocessing

import matplotlib.pyplot as plt 
plt.rc("font", size=14)

from sklearn.linear_model import LogisticRegression
# Feature Selection
from sklearn import datasets
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
#from sklearn.cross_validation import train_test_split

import seaborn as sns
sns.set(style="white")
sns.set(style="whitegrid", color_codes=True)

In [62]:
# Independent variable list
df_final.columns

# Removing 'dummy' column from the list
df_final2=df_final.drop(['Doc_ID','dummy','id','label','tweet_y'],axis=1)

# Storing the IV list in X
X=list(df_final2.columns)
len(X)

870

In [63]:
# Now lets run the Model
# Splitting the data into test and train
from sklearn.model_selection import train_test_split

x_train=df_final[X]
y_train = df_final['label']


# Importing Logistic regression model from sklearn
from sklearn.linear_model import LogisticRegression

# Making an instance of the model
LogisticRegr = LogisticRegression()

In [64]:
# Training the model
LogisticRegr.fit(x_train, y_train)
LogisticRegr.coef_

C:\Users\pverma026\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

array([[ 5.60783127e-01, -7.29882363e-01, -4.58225888e-01,
         5.10640397e+00, -8.28908511e-01, -5.50134729e-01,
        -9.82675951e-01, -5.77744631e-01, -8.80486462e-01,
        -7.47357709e-01, -7.29184162e-01, -1.28962579e+00,
        -4.88446507e-03, -4.40870801e-01, -1.77078266e+00,
         1.34571555e+00, -1.55669141e+00, -9.64925617e-01,
        -5.24847287e-01, -3.63704504e-01, -8.27034328e-01,
        -9.18130568e-01, -1.31841047e+00, -5.16305244e-01,
        -7.32235868e-01, -7.66550394e-02, -7.66550394e-02,
        -1.49638026e+00, -4.12207538e-03, -4.08818852e-03,
        -3.88165048e-01, -8.74889815e-01, -1.44728862e+00,
        -1.05186254e-01, -1.07328893e+00, -9.44441896e-01,
        -7.20593218e-02, -7.20593218e-02, -7.20593218e-02,
        -1.10869645e+00,  9.69564601e-01, -9.24464168e-01,
        -1.68905531e+00, -1.51987250e+00, -9.91610373e-01,
        -5.58797201e-01, -6.45245937e-01, -6.22710348e-01,
        -1.56141247e+00, -1.03256705e+00, -1.09474195e+00,
        -9.08027273e-01, -1.84977242e-01, -2.33170077e-02,
        -4.57260383e-01, -3.34325067e-01, -7.23384590e-01,
        -1.60264944e+00, -6.56620540e-01, -1.37115437e-01,
        -1.46948969e+00, -1.66571981e+00, -1.06308320e+00,
        -3.98924048e-01, -1.24448451e+00, -7.79845673e-01,
        -7.06949394e-01, -3.09572043e-01, -6.23556569e-01,
        -8.70033199e-01, -1.30877762e+00, -3.15927418e-01,
        -5.11594936e-01, -6.88934319e-01, -1.61329792e+00,
        -8.94804819e-01,  2.34042141e+00, -5.82811579e-01,
        -9.08231659e-01, -2.09955442e+00, -8.54392696e-01,
        -3.93441218e-01, -7.66550394e-02, -3.84268922e-01,
        -9.00337045e-01, -4.13118065e-01, -4.13118065e-01,
        -4.13118065e-01, -1.11286839e+00, -1.07548419e+00,
        -1.74067766e-02, -3.28424709e-03, -7.86458285e-01,
        -7.76453474e-01, -2.03806546e-01,  5.35303460e-01,
         8.46462028e-01,  1.40335902e-01,  2.02235824e+00,
         1.40335902e-01,  1.40335902e-01, -1.54234902e+00,
        -4.94526414e-01, -1.84901468e-01, -7.20593218e-02,
        -8.53412265e-01, -3.68390546e-01, -3.43716669e-01,
        -8.60759125e-01, -1.47171803e+00, -1.50010052e-02,
        -1.11670497e-02, -5.32935556e-01, -2.35070086e-02,
        -4.50052924e-03,  1.18107321e+00, -3.59475354e-01,
        -5.34574142e-01, -2.97863879e-01, -2.97863879e-01,
        -8.56505790e-01, -6.54793079e-01, -1.67336120e+00,
        -1.33228307e+00, -9.97654663e-01, -2.60748298e-01,
        -1.01472026e+00,  7.62035896e-01, -5.58061588e-01,
        -2.23443902e+00, -1.04559651e+00, -7.35145779e-01,
         1.10588745e+00, -3.19912976e-02, -7.84703889e-01,
        -1.08831433e+00, -4.96935055e-01, -3.28424709e-03,
        -3.28424709e-03, -5.68574683e-01,  2.30977795e+00,
        -3.80566929e-01, -1.88410436e+00, -6.40371277e-01,
        -1.52149877e+00, -1.34777970e+00, -1.11878508e+00,
        -9.14478102e-01, -8.17840970e-01,  1.20544145e+00,
        -8.26069152e-01, -4.68199163e-01, -1.22982775e+00,
        -7.44660688e-01, -1.78589499e-01, -4.70590933e-01,
        -7.66550394e-02, -7.66550394e-02, -7.33857711e-01,
        -3.63704504e-01, -3.09572043e-01,  1.35394904e+00,
         1.40335902e-01,  1.40335902e-01, -4.10444970e-01,
        -2.00908685e+00, -8.48748316e-01, -4.40414599e-01,
        -9.77127666e-01, -1.76750765e+00, -8.99073865e-01,
        -1.16340887e+00, -7.74143398e-01, -7.28809170e-01,
        -8.47007401e-03, -3.66535363e-03, -1.16422092e+00,
        -1.16578838e+00, -5.25177175e-01, -8.96407447e-01,
        -9.27261555e-01, -7.51627824e-01, -1.27679969e+00,
         3.01087137e+00,  6.81892877e-02,  9.58945010e-01,
        -9.22405488e-01, -1.31569801e+00, -1.12907483e+00,
        -1.19419301e-01, -4.89225796e-01, -8.62811529e-01,
        -5.72958659e-01, -1.77067444e-01,  1.07673809e+00,
        -1.46055755e+00, -9.00579278e-01, -5.50557607e-01,
         2.14747352e+00, -5.76425459e-01, -2.56765934e-01,
        -2.56765934e-01, -2.56765934e-01, -3.07950612e-01,
        -4.66401616e-01,  6.96896841e-01, -6.77685753e-01,
        -1.55656104e+00,  5.65637931e-01, -8.05526781e-01,
        -1.50311707e-02, -1.50311707e-02, -6.26182624e-01,
         1.25190810e-01, -3.82736611e-01, -6.56423159e-01,
        -1.05628112e-01, -4.07886581e-01,  6.92050014e-01,
        -6.80774733e-01, -1.05628112e-01, -7.86693969e-01,
        -8.08435335e-01, -5.74049902e-01, -1.64171291e-01,
        -1.64171291e-01,  3.97024625e-01, -8.97417164e-01,
         1.29742326e-01, -1.08600746e+00, -4.64934437e-01,
        -6.83477884e-01, -3.00623415e-02, -1.50311707e-02,
        -1.50311707e-02, -1.50311707e-02, -1.50311707e-02,
        -1.33201983e+00, -1.13516925e-01, -6.75079863e-01,
        -3.73959966e-02, -9.65341440e-01, -2.96197225e-01,
         2.33764586e-01, -3.08273924e-01, -2.54264926e+00,
        -3.42417737e-01, -3.28342581e-01, -1.64171291e-01,
        -1.14907199e+00,  7.99999083e-01,  1.49488404e+00,
        -4.63719021e-01, -3.28342581e-01, -1.64171291e-01,
        -1.64171291e-01,  3.49106614e-01, -9.54010892e-01,
        -5.25178858e-01, -8.31174950e-02, -9.50691890e-01,
         1.14326487e+00, -2.90757508e-01, -2.90757508e-01,
        -2.90757508e-01, -2.90757508e-01, -1.10860470e+00,
        -6.45131536e-02, -6.45131536e-02, -1.05628112e-01,
        -1.05628112e-01, -1.48113201e-01, -1.48113201e-01,
        -6.45131536e-02, -6.45131536e-02,  9.07623426e-01,
         6.30689204e-02,  1.55392984e+00,  5.72591172e-01,
        -9.66423897e-03, -2.45922958e-01, -6.64320468e-02,
        -7.75714103e-01, -5.39492266e-01, -2.57698548e-01,
        -5.32360744e-01, -5.68985941e-01, -7.50362362e-01,
        -8.01939905e-02, -7.29181344e-01,  3.95786420e-01,
         1.82347881e-03, -4.79582498e-01,  1.02110932e-01,
        -5.90261870e-01, -1.50311707e-02, -1.50311707e-02,
        -1.50311707e-02, -1.50311707e-02, -1.48113201e-01,
        -1.48113201e-01, -1.48113201e-01,  3.54600391e-01,
        -4.92108699e-01, -1.33865250e-02, -3.82192739e-01,
        -9.36881747e-02, -7.37012123e-01, -2.31014545e-01,
        -1.48113201e-01, -1.48113201e-01, -1.47665240e-01,
        -6.46146609e-01, -5.56381936e-01,  4.90190352e-01,
        -4.55679694e-01,  1.25189321e-01, -1.21710534e-01,
        -1.21710534e-01, -1.21710534e-01, -1.20138399e+00,
        -2.95603224e-01, -6.09642688e-01,  1.89435245e-01,
        -4.11125517e-01, -9.60422940e-01, -1.97038324e+00,
        -1.19033694e+00, -1.22075214e+00, -1.89816587e+00,
        -5.00195420e-01,  6.61177097e-01,  2.93348100e-01,
         1.28318993e+00, -1.06914916e-01, -1.06914916e-01,
         3.10080387e-01, -3.15278278e-01, -6.45131536e-02,
        -6.45131536e-02, -7.98291484e-01, -1.14209037e+00,
        -6.45131536e-02, -6.45131536e-02, -6.45131536e-02,
        -2.60327469e-02, -2.45891288e-01, -9.18050692e-01,
        -1.98667051e-02, -1.13438467e+00, -1.03370651e+00,
        -8.41044760e-01, -1.05628112e-01, -1.05628112e-01,
         5.55274185e-01, -9.23935632e-01, -1.07950285e+00,
         1.06031561e+00, -3.78286325e-01, -2.56765934e-01,
        -2.56765934e-01, -3.78111782e-01, -2.66395204e-01,
         3.80414995e-01,  2.06642295e-02, -5.54407119e-02,
        -1.31516051e-02, -1.86250443e+00,  5.58977722e-01,
        -3.16141620e-01, -6.30890527e-01,  6.58451201e-03,
         1.38274475e-01, -2.94675092e-01, -1.40598691e+00,
        -3.26441079e-01, -5.89017388e-01, -3.36613381e-01,
        -5.09458614e-01, -8.14095650e-01, -5.28256886e-01,
         4.28314980e-01, -1.41096142e+00, -9.49462425e-01,
        -1.32950861e+00, -1.07377219e-01, -1.06914916e-01,
        -1.22632662e-01, -1.06914916e-01, -1.06914916e-01,
        -8.76768536e-01, -1.05624738e+00, -6.83148608e-01,
        -7.36639053e-01, -1.04615100e+00,  3.57125346e-01,
        -8.32065191e-01, -5.33309564e-01, -1.06914916e-01,
        -1.06914916e-01, -1.66904735e-01, -1.60967665e+00,
        -1.01466668e+00, -4.82411373e-01, -7.38370665e-01,
         1.29029489e+00,  4.33812729e-01, -7.12023418e-01,
        -3.76378479e-01, -1.71204400e-01,  5.43518299e-02,
        -1.05628112e-01, -1.05628112e-01, -1.26663496e-01,
        -7.66550394e-02, -5.30767471e-01, -1.08573958e-01,
        -7.66550394e-02,  1.18077220e+00, -1.54792323e+00,
        -6.79184942e-01,  3.58703378e-01,  6.57287066e-01,
         3.63140380e-01, -1.69710018e-01, -6.50697021e-01,
        -1.80745757e-01, -5.33154095e-01, -2.93299267e-01,
        -5.78434731e-01,  7.00320595e-02, -1.64171291e-01,
        -1.64171291e-01, -4.26621732e-01,  1.98249688e-01,
        -2.56765934e-01, -2.56765934e-01, -5.24233968e-01,
        -5.45590017e-01,  7.45169673e-02, -3.66371440e-01,
        -1.66157731e+00,  6.95499211e-01, -6.22357248e-01,
         7.20479242e-02,  7.86798539e-02, -2.35348662e-01,
        -1.21574237e+00, -1.53265289e+00, -7.29636331e-02,
        -4.39647369e-02, -1.10553548e-02, -8.11614167e-01,
        -2.80488051e-01, -2.03399998e+00,  4.34616133e-01,
         2.23444005e-01, -1.36578623e+00, -2.45952398e-01,
        -1.05628112e-01, -1.05628112e-01, -3.74550309e-01,
        -1.07459477e-01, -1.53580322e-01,  8.90808887e-02,
         2.12621432e-01, -7.66550394e-02, -7.66550394e-02,
        -2.91835115e-02, -1.28673686e+00, -4.98123377e-01,
        -1.48113201e-01, -1.48113201e-01, -6.67403905e-01,
         3.35850955e-01, -1.04161734e+00, -2.52486646e-01,
        -2.90757508e-01, -2.45863540e-02, -1.15700865e+00,
        -5.00366097e-01, -1.23541870e+00,  8.07683173e-01,
         4.24749674e-01, -8.75017268e-01, -3.81717104e-01,
        -3.15927418e-01, -3.15927418e-01,  3.92052216e-03,
         1.40335902e-01,  1.40335902e-01,  1.40335902e-01,
        -2.34485631e-01,  5.02977604e-01, -3.18300431e-01,
        -3.26382997e-02,  6.50922000e-01, -4.48032801e-01,
        -1.28454188e+00,  4.72825697e-01, -1.49794986e-01,
        -1.00856728e-01, -1.51807886e+00,  4.41097557e-01,
        -7.09578836e-01, -9.65850081e-01, -7.73601881e-01,
         2.19170121e+00,  4.95541774e-01, -1.21710534e-01,
        -1.21710534e-01, -1.03618903e+00, -2.96790512e-01,
         2.63018446e-01, -3.43636563e-01,  3.51346460e-01,
         5.38223138e-01, -3.33994790e-01,  3.62844168e-02,
         1.40335902e-01,  1.40335902e-01, -1.47763154e+00,
        -1.08067407e+00,  1.55818662e-01,  4.60510747e-01,
         2.17938341e+00, -9.62947553e-01, -1.15171063e-01,
         3.93298740e-01, -4.03508793e-01, -1.50311707e-02,
        -1.33865250e-02, -6.28413191e-01, -5.33167580e-01,
         2.87710273e-01, -8.97917880e-01, -6.43819650e-01,
        -5.69552246e-01,  5.17257828e-01, -1.44478917e-01,
        -3.65178428e-01, -1.22248612e+00, -2.97863879e-01,
        -2.97863879e-01, -1.17086953e+00, -4.34695360e-01,
        -5.14349662e-02, -1.25656345e-01, -4.80314991e-01,
        -5.37798680e-01, -7.86958549e-01,  3.24979432e-01,
        -1.87844123e-02,  9.71870218e-01, -2.54089674e-01,
         3.85649513e-01, -3.62645335e-01,  7.04272814e-01,
         8.25374474e-02, -4.37347725e-01, -9.44972743e-01,
         1.45660254e+00,  8.85851031e-02, -1.06914916e-01,
        -1.06914916e-01,  1.40335902e-01,  1.40335902e-01,
        -6.55267022e-01, -4.30810209e-01, -1.07558638e-01,
        -1.07558638e-01, -5.80836253e-01, -1.72964157e-01,
        -1.98676725e+00, -1.33943914e+00, -1.17498731e+00,
        -6.99778444e-01, -1.31447985e+00, -5.66102401e-01,
        -1.87770023e+00, -3.67007376e-01, -8.81654168e-01,
        -1.91122609e-01, -4.43442785e-01,  1.84747569e-01,
        -1.86015546e-01, -9.23454306e-01,  2.11439918e-01,
        -2.56765934e-01, -2.56765934e-01, -2.56765934e-01,
        -2.39227247e-01,  1.94400942e-01,  4.68581266e-02,
         5.48117370e-02,  3.43419194e-02, -3.69831876e-01,
         4.02032249e-01, -8.16336089e-01, -1.57636970e+00,
         2.57723062e-01, -5.28511612e-01,  1.80560014e+00,
        -3.12729431e-01, -3.59852086e-01, -8.26615552e-01,
        -1.06914916e-01, -1.06914916e-01, -7.10724744e-01,
        -9.90806767e-02, -2.91429618e-01, -8.36286705e-01,
        -2.73105957e-01, -1.21710534e-01, -1.19419301e-01,
        -1.40676666e+00, -1.96623616e-01,  5.18110745e-01,
        -1.07045799e+00,  4.67281646e-01, -6.33904704e-01,
        -6.59675055e-02, -4.35966887e-01,  3.77147552e-01,
        -3.27697945e-01, -1.03611602e+00,  1.29368953e-02,
        -8.74361989e-02, -1.15101542e+00,  3.18443681e-01,
        -1.35503929e-01, -1.66510600e-01, -9.82715611e-02,
        -3.00623415e-02, -1.50311707e-02,  1.06715105e+00,
         6.88498689e-02,  4.07169905e-01, -3.23284500e-02,
        -9.08725776e-01, -1.79402941e-01,  2.12425453e-01,
        -3.25798093e-01,  1.06096773e-01,  2.20440203e+00,
        -1.29224143e-01, -1.50311707e-02, -1.50311707e-02,
        -1.50311707e-02, -1.50311707e-02, -1.50311707e-02,
         3.40439324e+00,  2.37867621e+00, -4.31694303e-01,
        -1.48113201e-01, -1.48113201e-01, -9.02206823e-01,
         3.66872794e-01,  4.50011641e-01, -1.84929430e+00,
         2.68593211e-01, -4.11373935e-01,  8.99898378e-01,
        -1.05628112e-01,  5.62501265e-02, -1.54053611e-01,
        -6.21606271e-03, -2.82253992e-01, -9.24551497e-01,
         2.27366684e-01,  3.75580195e-01, -1.27817112e+00,
         3.83722471e-01, -7.65597391e-01,  3.24731218e-01,
         1.05386031e+00,  1.07547657e+00,  3.70965247e-01,
        -1.42007641e+00, -5.06659869e-01, -9.42600961e-01,
         4.74571953e-01, -4.20181274e-01,  2.19059050e-01,
        -1.01923628e+00,  4.60185415e-02,  8.67344502e-02,
        -1.79555914e-01, -8.28484915e-01,  4.02269650e-01,
        -1.15543417e+00, -6.55876763e-01, -2.90757508e-01,
        -2.90757508e-01, -2.56765934e-01, -2.56765934e-01,
        -2.56765934e-01, -6.85364000e-01,  6.51998628e-02,
        -7.95491845e-01, -1.44661665e+00, -1.23863067e-01,
        -8.99645974e-01, -1.14878444e+00, -7.37537187e-01,
        -8.83371393e-01, -3.28836922e-01,  1.24004150e-01,
        -9.18628032e-01, -7.15757311e-01, -8.75215653e-01,
        -2.55879554e-01, -3.71711853e-01, -2.07582601e-01,
         7.99421517e-01, -4.81855820e-01, -8.02070940e-01,
        -1.16450635e+00, -9.17573235e-01, -1.14349044e+00,
        -4.14693163e-01, -1.07468736e-01, -5.48566015e-01,
        -1.48113201e-01,  4.14378750e-02, -4.04473283e-01,
        -2.97863879e-01, -2.90757508e-01, -2.90757508e-01,
         2.90871530e-02, -1.06388059e+00, -2.44032481e-01,
         2.35100922e-01,  1.48302183e+00, -1.48113201e-01,
        -1.48113201e-01, -1.61772009e-01, -1.48113201e-01,
         3.76596615e-01, -5.25760092e-01, -2.39227247e-01,
         1.57607889e-01, -4.98400198e-01, -9.35475252e-01,
         1.44340996e-02,  1.01896696e-01, -1.57809743e-01,
         7.21814648e-02,  2.54391439e-01, -1.30823005e+00,
         1.59521944e-01, -1.05628112e-01, -1.05628112e-01,
         8.25602054e-01, -5.04720440e-01, -3.34868988e-01,
        -1.22741966e+00, -3.16840357e-01, -6.94992540e-01,
        -2.97863879e-01, -8.34666760e-02,  1.42662858e-01,
        -1.43050057e+00, -2.02256412e+00, -7.64403975e-01,
        -1.29796218e+00,  5.12288983e-01, -1.81983767e+00,
        -8.96706435e-01, -1.28847495e+00, -2.10902467e-01,
        -3.28424709e-03, -2.99193770e-03, -1.02669302e+00,
         1.32670650e-01,  2.69251738e-01,  9.34431060e-01,
        -4.62802824e-01,  1.39708190e-01, -7.86229043e-01,
         3.73865686e-01, -1.18678158e-01, -1.06914916e-01,
        -1.06914916e-01, -1.52413705e-01, -9.36813936e-01,
        -4.95684861e-01, -6.45131536e-02, -6.45131536e-02,
        -6.45131536e-02, -1.14234249e+00, -4.03655723e-01,
        -2.97863879e-01,  3.14416800e-01,  5.60629924e-01,
        -2.80967981e-01, -2.48313922e-01, -1.06914916e-01,
        -1.05186254e-01, -2.33446876e-01,  8.70924647e-01,
        -2.90757508e-01, -2.90757508e-01, -2.90757508e-01,
        -3.55497642e-01,  8.26425459e-01, -1.02537299e+00,
         2.22026835e-01,  1.61288783e-01, -4.16962569e-01,
         9.24447203e-02, -1.40212295e+00, -3.18468254e-01,
        -4.48738056e-01, -1.38995381e-02, -3.01838368e-01,
        -8.28749956e-02, -1.29821073e-01,  2.75542998e-01,
        -6.97418313e-01, -1.44625573e+00, -5.26938643e-01,
        -1.06914916e-01, -1.06914916e-01,  6.63119257e-01,
        -8.61422474e-01, -9.86486721e-01, -1.22342293e+00,
        -1.63752875e+00, -7.57151191e-01, -5.37673176e-02,
        -3.94084616e-01, -1.06914916e-01, -1.05186254e-01,
        -5.91323835e-01, -5.07283858e-01, -1.11107505e+00,
        -6.45131536e-02, -6.45131536e-02,  2.70157799e+00,
        -2.00024227e-01,  3.88532869e-01,  9.77178404e-02,
        -7.35922513e-01,  9.16784636e-02,  1.67676319e+00,
         1.79283732e+00, -3.19338692e-01,  1.26481944e+00,
         1.36951899e-01, -4.22833986e-01, -3.12579672e-01,
        -6.40162334e-01,  5.47453677e-01, -2.98832969e-01,
         1.98415142e-02, -9.31504652e-01, -4.85190552e-02,
        -1.64171291e-01, -1.64171291e-01,  3.76373026e-01,
         1.60870923e-01, -4.59115971e-01, -2.80246330e-01,
        -2.68729770e-01, -1.98780678e-01, -1.03278350e+00,
        -7.51114888e-01,  2.28173147e-01, -6.59043539e-01]])

In [65]:
# Make predictions on the train data set
prediction_reg=LogisticRegr.predict(x_train)

In [66]:
# Lets measure the score
score = LogisticRegr.score(x_train, y_train)
print(score)

# score is nothing but the accuracy

0.9469369876728615

In [67]:
# Confusion Matrix
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics

y_train.shape
prediction_reg.shape

cm = metrics.confusion_matrix(y_train, prediction_reg)
print(cm)

[[29570   150]
 [ 1546   696]]

In [68]:
# Accuracy
acc=(cm[0][0] + cm[1][1])/(cm[0][0]+cm[0][1]+cm[1][0]+cm[1][1])
acc

0.9469369876728615

In [69]:
# Senstivity
sens=cm[1][1]/(cm[1][1]+cm[1][0])
sens

0.31043710972346117

In [70]:
# Specifisity
spec=cm[0][0]/(cm[0][0]+cm[0][1])
spec

0.9949528936742934

In [71]:
# Precision
prec=cm[1][1]/(cm[1][1]+cm[0][1])
prec

0.8226950354609929

In [72]:
# Recall: Same as Specifisity
rec=spec
rec

0.9949528936742934

In [73]:
# F1 Score
(2*prec*rec)/(prec+rec)

0.9006615560944164

In [74]:
# The value of F1 Score on Train data is around 0.90

In [85]:
# Lets try and calculate the value on test data
# importing test_DTM.csv file
test_df=pd.read_csv(dr + "\\test_DTM.csv")
test_df.head()

,Unnamed: 0,Doc_ID,#2016,#affirmation,#affirmations,#allahsoil,#altwaystoheal,#altwaystoheal #healthy,#amazing,#anxiety,...,yes,yet,yo,you,you!,you.,you?,young,id,tweet_y
0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1,1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2,2,3,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
3,3,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
4,4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN

In [86]:
# Creating the x_test
test_df.columns

Index(['Unnamed: 0', 'Doc_ID', '#2016', '#affirmation', '#affirmations',
       '#allahsoil', '#altwaystoheal', '#altwaystoheal  #healthy', '#amazing',
       '#anxiety',
       ...
       'yes', 'yet', 'yo', 'you', 'you!', 'you.', 'you?', 'young', 'id',
       'tweet_y'],
      dtype='object', length=875)

In [88]:
# Removing 'Unnamed: 0' and 'Doc_ID' column
pos=[i not in ['Unnamed: 0','Doc_ID','dummy','id','label','tweet_y'] for i in test_df.columns ]
x_test=test_df[test_df.columns[pos]]
x_test.shape

(17197, 870)

In [89]:
# Running them Model on x_test
# Make predictions on the train data set
prediction_reg=LogisticRegr.predict(x_test)
prediction_reg[0:7]

array([0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [90]:
pos=[i == 1 for i in prediction_reg]
sum(pos) # Total tweets labelled as 1 are 466

466

In [91]:
Test_complete=pd.concat([test_df['Doc_ID'],pd.DataFrame(list(prediction_reg))],axis=1)
Test_complete.head()

   Doc_ID  0
0  1       0
1  2       0
2  3       0
3  4       0
4  5       0

In [81]:
df_test.shape

(17197, 2)

In [105]:
Test_complete.columns=['Doc_ID','label']
Test_complete.head()

   Doc_ID  label
0  1       0
1  2       0
2  3       0
3  4       0
4  5       0

In [106]:
# Removing the Doc_ID as this is not required for submission
Test_complete2=Test_complete.drop(['Doc_ID'],axis=1)
Test_complete2.head()

   label
0  0
1  0
2  0
3  0
4  0

In [107]:
# Writing it back to the folder 
Test_complete2.to_csv(dr + "\\test_predictions.csv")