In [1]:
# Importing the libraries
import nltk
import requests # requests is an HTTP library written in python
import re # for regular epxression
from bs4 import BeautifulSoup # for web scraping

In [11]:
# Lets specify the URL from which we want to parse data
URL = 'https://en.wikipedia.org/wiki/Machine_learning'
r = requests.get(URL)
page = r.text
type(page)

str

In [48]:
# Lets check the contents of page
print(page[0:2000])
# We can see that page contains the html tags along with values

<!DOCTYPE html>
<html class="client-nojs" lang="en" dir="ltr">
<head>
<meta charset="UTF-8"/>
<title>Machine learning - Wikipedia</title>
<script>document.documentElement.className=document.documentElement.className.replace(/(^|\s)client-nojs(\s|$)/,"$1client-js$2");RLCONF={"wgCanonicalNamespace":"","wgCanonicalSpecialPageName":!1,"wgNamespaceNumber":0,"wgPageName":"Machine_learning","wgTitle":"Machine learning","wgCurRevisionId":901961606,"wgRevisionId":901961606,"wgArticleId":233488,"wgIsArticle":!0,"wgIsRedirect":!1,"wgAction":"view","wgUserName":null,"wgUserGroups":["*"],"wgCategories":["CS1 maint: Multiple names: authors list","CS1 maint: others","Wikipedia articles needing clarification from November 2018","Commons category link from Wikidata","Machine learning","Cybernetics","Learning"],"wgBreakFrames":!1,"wgPageContentLanguage":"en","wgPageContentModel":"wikitext","wgSeparatorTransformTable":["",""],"wgDigitTransformTable":["",""],"wgDefaultDateFormat":"dmy","wgMonthNames":["","January","February","March","April","May","June","July","August","September","October","November","December"],"wgMonthNamesShort":["",
"Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"wgRelevantPageName":"Machine_learning","wgRelevantArticleId":233488,"wgRequestId":"XQYNjQpAADoAAGSh2rsAAADO","wgCSPNonce":!1,"wgIsProbablyEditable":!0,"wgRelevantPageIsProbablyEditable":!0,"wgRestrictionEdit":[],"wgRestrictionMove":[],"wgMediaViewerOnClick":!0,"wgMediaViewerEnabledByDefault":!0,"wgPopupsReferencePreviews":!1,"wgPopupsConflictsWithNavPopupGadget":!1,"wgVisualEditor":{"pageLanguageCode":"en","pageLanguageDir":"ltr","pageVariantFallbacks":"en"},"wgMFDisplayWikibaseDescriptions":{"search":!0,"nearby":!0,"watchlist":!0,"tagline":!1},"wgWMESchemaEditAttemptStepOversample":!1,"wgPoweredByHHVM":!0,"wgULSCurrentAutonym":"English","wgNoticeProject":"wikipedia","wgCentralNoticeCategoriesUsingLegacy":["Fundraising","fundraising"],"wgWikibaseItemId":"Q2539","wgCentralAuthMobi

***Lets try and extract paragraph from page. We need to use 'p' as the html tag to parse paragraph***

In [50]:
# Lets use BeautifulSoup to parse the page
soup=BeautifulSoup(page,"html.parser")
paras = soup.find_all('p')
l1_para = []

l1_para=[]
for i in paras:
    l1_para.append(i.get_text())


# Printing the first few paragraphs
for j in l1_para[0:3]:
    print(j)

Machine learning (ML) is the scientific study of algorithms and statistical models that computer systems use in order to perform a specific task effectively without using explicit instructions, relying on patterns and inference instead. It is seen as a subset of artificial intelligence. Machine learning algorithms build a mathematical model based on sample data, known as "training data", in order to make predictions or decisions without being explicitly programmed to perform the task.[1][2]:2 Machine learning algorithms are used in a wide variety of applications, such as email filtering, and computer vision, where it is infeasible to develop an algorithm of specific instructions for performing the task. Machine learning is closely related to computational statistics, which focuses on making predictions using computers. The study of mathematical optimization delivers methods, theory and application domains to the field of machine learning. Data mining is a field of study within machine learning, and focuses on exploratory data analysis through unsupervised learning.[3][4] In its application across business problems, machine learning is also referred to as predictive analytics.

The name machine learning was coined in 1959 by Arthur Samuel.[5] Tom M. Mitchell provided a widely quoted, more formal definition of the algorithms studied in the machine learning field: "A computer program is said to learn from experience E with respect to some class of tasks T and performance measure P if its performance at tasks in T, as measured by P,  improves with experience E."[6] This definition of the tasks in which machine learning is concerned offers a fundamentally operational definition rather than defining the field in cognitive terms. This follows Alan Turing's proposal in his paper "Computing Machinery and Intelligence", in which the question "Can machines think?" is replaced with the question "Can machines do what we (as thinking entities) can do?".[7] In Turing's proposal the various characteristics that could be possessed by a thinking machine and the various implications in constructing one are exposed.

In [51]:
# This can be now stored in a data frame and subsequently used for analysis

***Lets try to get all the embedded links in the page. We will use 'a' to parse the page***

In [54]:

soup=BeautifulSoup(page,"html.parser")
url_links = soup.findAll('a',attrs={'href': re.compile("^http://")}) # This matches any object starting with http
l1_url = []

for links in url_links[0:50]:
    print(links.get('href'))
    l1_url.append(links.get('href'))

http://eprints.ecs.soton.ac.uk/12954/
http://projecteuclid.org/download/pdf_1/euclid.ss/1009213726
http://www-bcf.usc.edu/~gareth/ISL/
http://www.athenasc.com/dpbook.html
http://www.athenasc.com/ndpbook.html
http://machinelearning.wustl.edu/mlpapers/paper_files/AISTATS2011_CoatesNL11.pdf
http://www.cs.cmu.edu/~efros/courses/LBMV07/Papers/csurka-eccv-04.pdf
http://www.dsp.utoronto.ca/~haiping/Publication/SurveyMSL_PR2011.pdf
http://adsabs.harvard.edu/abs/2015ISPL...22...45T
http://eprints.whiterose.ac.uk/767/1/hodgevj4.pdf
http://www.csee.umbc.edu/~kolari1/Mining/ngdm/dokas.pdf
http://ftp.cs.yale.edu/publications/techreports/tr192.pdf
http://dl.acm.org/citation.cfm?id=1623364
http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.149.802&rep=rep1&type=pdf
http://adsabs.harvard.edu/abs/1994mlns.book.....M
http://ieeexplore.ieee.org/iel5/10207/6052357/06052374.pdf?arnumber=6052374
http://ai.googleblog.com/2017/04/federated-learning-collaborative.html
http://techblog.netflix.com/2012/04/netflix-recommendations-beyond-5-stars.html
http://adsabs.harvard.edu/abs/2017Sci...356..183C
http://papers.nips.cc/paper/6227-an-algorithm-for-l1-nearest-neighbor-search-via-monotonic-embedding.pdf
http://web.cs.iastate.edu/~jtian/cs573/Papers/Kohavi-IJCAI-95.pdf
http://www.nickbostrom.com/ethics/artificial-intelligence.pdf
http://ai.stanford.edu/people/nilsson/mlbook.html
http://www.inference.phy.cam.ac.uk/mackay/itila/book.html
http://aima.cs.berkeley.edu/
http://world.std.com/~rjs/indinf56.pdf
http://projecteuclid.org/download/pdf_1/euclid.ss/1009213726

***Let us now try to extract table from the URL***

In [2]:
# We will try and extract the inflation rate in India
URL = 'https://en.wikipedia.org/wiki/Inflation_in_India'
r = requests.get(URL)
page = r.text

In [3]:
soup=BeautifulSoup(page,"html.parser")
url_tbl = soup.find('table')
type(url_tbl)

bs4.element.Tag

In [4]:
url_tbl

# If you look at what inside of url_tbl, then you will find the following
# tr: It is used for table row
# th: It is used for table heading(column heading)
# td: Used to access each column/dimension

<table class="wikitable sortable">
<tbody><tr>
<th>Year</th>
<th>Price Index<br/> (IMF)</th>
<th>Cost Index<br/> (CBDT)</th>
<th>Gold Index<br/> (RBI)</th>
<th>Silver Index<br/> (RBI)</th>
<th>House Index<br/> (RBI)
</th></tr>
<tr>
<td>1970</td>
<td>-</td>
<td>-</td>
<td>0.447</td>
<td>1.383</td>
<td>-
</td></tr>
<tr>
<td>1971</td>
<td>-</td>
<td>-</td>
<td>0.516</td>
<td>1.211</td>
<td>-
</td></tr>
<tr>
<td>1972</td>
<td>-</td>
<td>-</td>
<td>0.801</td>
<td>1.529</td>
<td>-
</td></tr>
<tr>
<td>1973</td>
<td>-</td>
<td>-</td>
<td>1.455</td>
<td>2.698</td>
<td>-
</td></tr>
<tr>
<td>1974</td>
<td>-</td>
<td>-</td>
<td>2.123</td>
<td>3.902</td>
<td>-
</td></tr>
<tr>
<td>1975</td>
<td>-</td>
<td>-</td>
<td>2.078</td>
<td>4.066</td>
<td>-
</td></tr>
<tr>
<td>1976</td>
<td>-</td>
<td>-</td>
<td>1.847</td>
<td>4.305</td>
<td>-
</td></tr>
<tr>
<td>1977</td>
<td>-</td>
<td>-</td>
<td>2.169</td>
<td>4.352</td>
<td>-
</td></tr>
<tr>
<td>1978</td>
<td>-</td>
<td>-</td>
<td>2.750</td>
<td>5.197</td>
<td>-
</td></tr>
<tr>
<td>1979</td>
<td>-</td>
<td>-</td>
<td>5.264</td>
<td>15.106</td>
<td>-
</td></tr>
<tr>
<td>1980</td>
<td>8.960</td>
<td>-</td>
<td>7.423</td>
<td>13.401</td>
<td>-
</td></tr>
<tr>
<td>1981</td>
<td>10.094</td>
<td>10.000</td>
<td>6.049</td>
<td>8.724</td>
<td>-
</td></tr>
<tr>
<td>1982</td>
<td>10.875</td>
<td>10.900</td>
<td>6.251</td>
<td>9.431</td>
<td>-
</td></tr>
<tr>
<td>1983</td>
<td>12.241</td>
<td>11.600</td>
<td>6.710</td>
<td>11.722</td>
<td>-
</td></tr>
<tr>
<td>1984</td>
<td>13.038</td>
<td>12.500</td>
<td>6.468</td>
<td>9.367</td>
<td>-
</td></tr>
<tr>
<td>1985</td>
<td>13.853</td>
<td>13.300</td>
<td>6.448</td>
<td>7.987</td>
<td>-
</td></tr>
<tr>
<td>1986</td>
<td>15.085</td>
<td>14.000</td>
<td>7.885</td>
<td>7.400</td>
<td>-
</td></tr>
<tr>
<td>1987</td>
<td>16.451</td>
<td>15.000</td>
<td>9.562</td>
<td>10.055</td>
<td>-
</td></tr>
<tr>
<td>1988</td>
<td>17.638</td>
<td>16.100</td>
<td>9.801</td>
<td>9.905</td>
<td>-
</td></tr>
<tr>
<td>1989</td>
<td>18.444</td>
<td>17.200</td>
<td>10.315</td>
<td>9.487</td>
<td>-
</td></tr>
<tr>
<td>1990</td>
<td>20.509</td>
<td>18.200</td>
<td>10.821</td>
<td>8.597</td>
<td>-
</td></tr>
<tr>
<td>1991</td>
<td>23.274</td>
<td>19.900</td>
<td>14.205</td>
<td>10.899</td>
<td>-
</td></tr>
<tr>
<td>1992</td>
<td>25.570</td>
<td>22.300</td>
<td>16.664</td>
<td>12.499</td>
<td>-
</td></tr>
<tr>
<td>1993</td>
<td>27.431</td>
<td>24.400</td>
<td>18.831</td>
<td>15.803</td>
<td>-
</td></tr>
<tr>
<td>1994</td>
<td>30.249</td>
<td>25.900</td>
<td>19.320</td>
<td>17.291</td>
<td>-
</td></tr>
<tr>
<td>1995</td>
<td>33.263</td>
<td>28.100</td>
<td>20.942</td>
<td>19.364</td>
<td>-
</td></tr>
<tr>
<td>1996</td>
<td>36.400</td>
<td>30.500</td>
<td>21.428</td>
<td>19.208</td>
<td>-
</td></tr>
<tr>
<td>1997</td>
<td>38.891</td>
<td>33.100</td>
<td>18.879</td>
<td>20.513</td>
<td>-
</td></tr>
<tr>
<td>1998</td>
<td>43.996</td>
<td>35.100</td>
<td>19.761</td>
<td>23.813</td>
<td>-
</td></tr>
<tr>
<td>1999</td>
<td>46.503</td>
<td>38.900</td>
<td>19.483</td>
<td>24.288</td>
<td>-
</td></tr>
<tr>
<td>2000</td>
<td>49.129</td>
<td>40.600</td>
<td>20.038</td>
<td>23.700</td>
<td>-
</td></tr>
<tr>
<td>2001</td>
<td>51.249</td>
<td>42.600</td>
<td>21.301</td>
<td>22.362</td>
<td>-
</td></tr>
<tr>
<td>2002</td>
<td>53.286</td>
<td>44.700</td>
<td>25.310</td>
<td>24.228</td>
<td>-
</td></tr>
<tr>
<td>2003</td>
<td>55.342</td>
<td>46.300</td>
<td>27.867</td>
<td>26.608</td>
<td>-
</td></tr>
<tr>
<td>2004</td>
<td>57.462</td>
<td>48.000</td>
<td>29.880</td>
<td>32.555</td>
<td>-
</td></tr>
<tr>
<td>2005</td>
<td>59.996</td>
<td>49.700</td>
<td>33.951</td>
<td>38.057</td>
<td>-
</td></tr>
<tr>
<td>2006</td>
<td>64.016</td>
<td>51.900</td>
<td>45.688</td>
<td>60.446</td>
<td>-
</td></tr>
<tr>
<td>2007</td>
<td>67.985</td>
<td>55.100</td>
<td>49.485</td>
<td>62.460</td>
<td>-
</td></tr>
<tr>
<td>2008</td>
<td>74.173</td>
<td>58.200</td>
<td>64.084</td>
<td>66.864</td>
<td>-
</td></tr>
<tr>
<td>2009</td>
<td>82.332</td>
<td>63.200</td>
<td>77.849</td>
<td>79.933</td>
<td>-
</td></tr>
<tr>
<td>2010</td>
<td>90.153</td>
<td>71.100</td>
<td>94.687</td>
<td>116.836</td>
<td>53.300
</td></tr>
<tr>
<td>2011</td>
<td>98.718</td>
<td>75.800</td>
<td>126.970</td>
<td>181.068</td>
<td>67.050
</td></tr>
<tr>
<td>2012</td>
<td>108.590</td>
<td>85.200</td>
<td>144.595</td>
<td>177.763</td>
<td>80.400
</td></tr>
<tr>
<td>2013</td>
<td>118.797</td>
<td>93.900</td>
<td>128.696</td>
<td>138.810</td>
<td>90.250
</td></tr>
<tr>
<td>2014</td>
<td>125.687</td>
<td>102.400</td>
<td>122.602</td>
<td>118.703</td>
<td>106.050
</td></tr>
<tr>
<td>2015</td>
<td>131.846</td>
<td>108.100</td>
<td>121.157</td>
<td>106.972</td>
<td>109.550
</td></tr>
<tr>
<td>2016</td>
<td>137.779</td>
<td>112.500</td>
<td>135.582</td>
<td>127.866</td>
<td>121.000
</td></tr>
<tr>
<td>2017</td>
<td>142.742</td>
<td>115.900</td>
<td>133.092</td>
<td>116.539</td>
<td>129.100
</td></tr>
<tr>
<td>2018</td>
<td>149.816</td>
<td>119.280</td>
<td>141.901</td>
<td>115.134</td>
<td>133.350
</td></tr></tbody></table>

In [5]:
# Lest extract the column names from the table
# As can be seen that the first 'tr' contains the headers
headings = [th.get_text() for th in url_tbl.find("tr").find_all("th")]
headings # 6 columns

['Year',
 'Price Index (IMF)',
 'Cost Index (CBDT)',
 'Gold Index (RBI)',
 'Silver Index (RBI)',
 'House Index (RBI)\n']

In [6]:
url_tbl.find_all("tr")[1] # Gives the Year,inflation rate, and other details for 1970

<tr>
<td>1970</td>
<td>-</td>
<td>-</td>
<td>0.447</td>
<td>1.383</td>
<td>-
</td></tr>

In [75]:
url_tbl.find_all("tr")[2] # Gives the Year,inflation rate, and other details for 1971

<tr>
<td>1971</td>
<td>-</td>
<td>-</td>
<td>0.516</td>
<td>1.211</td>
<td>-
</td></tr>

In [8]:
# Lets extact the data in the row
x=url_tbl.find_all("tr")[6].find_all("td")
x
# x contains records for the year 1975

[<td>1975</td>, <td>-</td>, <td>-</td>, <td>2.078</td>, <td>4.066</td>, <td>-
 </td>]

In [9]:
# We can use get_text() to extract the data for 1975 year
for i in x:
    print(i.get_text())

1975
-
-
2.078
4.066
-

***In order to extract data corresponding to every records we have to do the following things:***
1. First get to all tr
2. For each tr, exatract text from each td

In [10]:
table_val2=[]

for i in range(1,len(url_tbl.find_all("tr"))):
    table_val1=[]
    for rows in url_tbl.find_all("tr")[i].find_all("td"):
        table_val1.append(rows.get_text())
    table_val2.append(table_val1)
   
table_val2[0:20]

[['1970', '-', '-', '0.447', '1.383', '-\n'],
 ['1971', '-', '-', '0.516', '1.211', '-\n'],
 ['1972', '-', '-', '0.801', '1.529', '-\n'],
 ['1973', '-', '-', '1.455', '2.698', '-\n'],
 ['1974', '-', '-', '2.123', '3.902', '-\n'],
 ['1975', '-', '-', '2.078', '4.066', '-\n'],
 ['1976', '-', '-', '1.847', '4.305', '-\n'],
 ['1977', '-', '-', '2.169', '4.352', '-\n'],
 ['1978', '-', '-', '2.750', '5.197', '-\n'],
 ['1979', '-', '-', '5.264', '15.106', '-\n'],
 ['1980', '8.960', '-', '7.423', '13.401', '-\n'],
 ['1981', '10.094', '10.000', '6.049', '8.724', '-\n'],
 ['1982', '10.875', '10.900', '6.251', '9.431', '-\n'],
 ['1983', '12.241', '11.600', '6.710', '11.722', '-\n'],
 ['1984', '13.038', '12.500', '6.468', '9.367', '-\n'],
 ['1985', '13.853', '13.300', '6.448', '7.987', '-\n'],
 ['1986', '15.085', '14.000', '7.885', '7.400', '-\n'],
 ['1987', '16.451', '15.000', '9.562', '10.055', '-\n'],
 ['1988', '17.638', '16.100', '9.801', '9.905', '-\n'],
 ['1989', '18.444', '17.200', '10.315', '9.487', '-\n']]

In [15]:
# Removing the \n from the numbers
table_val3=[]
table_val3=[re.sub("\n", "", ','.join(x)) for x in table_val2]
table_val3[0:20]

['1970,-,-,0.447,1.383,-',
 '1971,-,-,0.516,1.211,-',
 '1972,-,-,0.801,1.529,-',
 '1973,-,-,1.455,2.698,-',
 '1974,-,-,2.123,3.902,-',
 '1975,-,-,2.078,4.066,-',
 '1976,-,-,1.847,4.305,-',
 '1977,-,-,2.169,4.352,-',
 '1978,-,-,2.750,5.197,-',
 '1979,-,-,5.264,15.106,-',
 '1980,8.960,-,7.423,13.401,-',
 '1981,10.094,10.000,6.049,8.724,-',
 '1982,10.875,10.900,6.251,9.431,-',
 '1983,12.241,11.600,6.710,11.722,-',
 '1984,13.038,12.500,6.468,9.367,-',
 '1985,13.853,13.300,6.448,7.987,-',
 '1986,15.085,14.000,7.885,7.400,-',
 '1987,16.451,15.000,9.562,10.055,-',
 '1988,17.638,16.100,9.801,9.905,-',
 '1989,18.444,17.200,10.315,9.487,-']

In [16]:
from nltk import ngrams

# Lets try to split an element from table_val3 using ngrams
k1=ngrams(table_val3[1].split(),1)
 
for i in k1:
    print(''.join(i))

1971,-,-,0.516,1.211,-

In [17]:
# Combining the results to a list
final_dfl2=[]
for i in range(0,len(table_val3)):
    final_dfl1=[]
    for j in ngrams(table_val3[i].split(),1):
        final_dfl1.append(''.join(j))
    final_dfl2.append(final_dfl1)
       
final_dfl2[2]

['1972,-,-,0.801,1.529,-']

In [18]:
import pandas as pd
df_tbl=pd.DataFrame(table_val3)
df_tbl.head()
 
df_tbl.columns=['C1']
df_tbl.head()

                       C1
0  1970,-,-,0.447,1.383,-
1  1971,-,-,0.516,1.211,-
2  1972,-,-,0.801,1.529,-
3  1973,-,-,1.455,2.698,-
4  1974,-,-,2.123,3.902,-

In [19]:
# We need to further split the cells using ',' as a delimiter
 
df_tb2=pd.DataFrame(df_tbl.C1.str.split(',').tolist())
df_tb2.head()
df_tb2.columns=headings # Headers are already stored in headings
df_tb2.head()

,Year,Price Index (IMF),Cost Index (CBDT),Gold Index (RBI),Silver Index (RBI),House Index (RBI)
0,1970,-,-,0.447,1.383,-
1,1971,-,-,0.516,1.211,-
2,1972,-,-,0.801,1.529,-
3,1973,-,-,1.455,2.698,-
4,1974,-,-,2.123,3.902,-