In [2]:
# Importing the libraries
import re
import pandas as pd
import numpy as np

In [11]:
###############################################
# Creating a list of text element
# Lets try to find the presence of 'python' string in the list
ls=[]
ls=['This is python 3.6','for Data Science we need python','Data Science is the next big thing']
[bool(re.findall("python",i)) for i in ls]

[True, True, False]

In [12]:
# Lets say there is a string added to ls such as 'apythnisation'
# In those cases even though python string is present in 'apythonisation' but we dont to match that
# For these cases we have to look for 'word boundary' as shown below
ls.append('apythonisation')
ls.append('There are more than 10 pythons in the jungle')
ls

['This is python 3.6',
 'for Data Science we need python',
 'Data Science is the next big thing',
 'apythonisation',
 'There are more than 10 pythons in the jungle']

In [13]:
# Return True or False if python string is present in ls
[bool(re.findall(r'\bpython\b',i)) for i in ls]

[True, True, False, False, False]

In [14]:
# Lets say that we are given a data frame and we want to do the same thing here
# There will be a slight change in the function we would use
# Lets create a data frame

df=pd.DataFrame(np.array(ls),columns=['Text'])
df

                                           Text
0                            This is python 3.6
1               for Data Science we need python
2            Data Science is the next big thing
3                                apythonisation
4  There are more than 10 pythons in the jungle

In [15]:
# Lets try and detect 'python' string in the 'Text column'
pos=[bool(i) for i in list(df['Text'].str.findall(r'\bpython\b'))]
pos

[True, True, False, False, False]

In [16]:
# Adding this column to the data frame df
df['Present']=pos
df

                                           Text  Present
0                            This is python 3.6     True
1               for Data Science we need python     True
2            Data Science is the next big thing    False
3                                apythonisation    False
4  There are more than 10 pythons in the jungle    False

In [17]:
# To get the total occurences of 'python' in 'Text' column, we can sum up the total True present in 
df['Present'].sum()

2

In [18]:
###############################################
# 2: Lets day we want to extract digits from ls
ls

['This is python 3.6',
 'for Data Science we need python',
 'Data Science is the next big thing',
 'apythonisation',
 'There are more than 10 pythons in the jungle']

In [19]:
[re.findall(r'\b\d+\.\d+\b|\b\d+\b',i) for i in ls]
# The above code identifies both the decimal part as well as the integer part

[['3.6'], [], [], [], ['10']]

In [20]:
# Lets say we want to extract only the number part then
x=[re.findall(r'\b\d+\.\d+\b|\b\d+\b',i) for i in ls]
y=[j for j in x]
y

[['3.6'], [], [], [], ['10']]

In [21]:
z=[]
for i in y:
    if len(i)==0:
        z.append('NA')
    else:
        z.append(i)
z

[['3.6'], 'NA', 'NA', 'NA', ['10']]

In [22]:
# Unlisting of elements in z
z1=[]
for i in z:
   if type(i) is list:
    z1.append(i[0])
   else:
    z1.append(i)
z1

['3.6', 'NA', 'NA', 'NA', '10']

In [23]:
# We can create a simple utility function that either converts the given value to a float if possible, or returns it as is
def maybe_int(s):
    try:
        return float(s)
    except (ValueError, TypeError):
        return s
z2 = [maybe_int(v) for v in z1]   
z2

[3.6, 'NA', 'NA', 'NA', 10.0]

In [24]:
# Adding the column to the data frame
df['Number']=z2
df.head()

                                           Text  Present Number
0                            This is python 3.6     True    3.6
1               for Data Science we need python     True     NA
2            Data Science is the next big thing    False     NA
3                                apythonisation    False     NA
4  There are more than 10 pythons in the jungle    False     10

In [25]:
# Getting True and Flase where numbers are present
[bool(re.findall(r'\b\d+\.\d+\b|\b\d+\b',i)) for i in ls]

[True, False, False, False, True]

In [26]:
# Adding this to the data frame df as well
df['Presence']=[bool(re.findall(r'\b\d+\.\d+\b|\b\d+\b',i)) for i in ls]
df

                                           Text  Present Number  Presence
0                            This is python 3.6     True    3.6      True
1               for Data Science we need python     True     NA     False
2            Data Science is the next big thing    False     NA     False
3                                apythonisation    False     NA     False
4  There are more than 10 pythons in the jungle    False     10      True

In [27]:
#######################################################
# 3 Extract information from string
l1=['70 gm of whey protien','One should use one scoop(25 gms) after gym',
   '5 gm of creatinine is sufficient','2 scoops of whey is =45gm of protin',
   'There are more than 5 brands that sell whey',
   'There is still stigma around using supplements']
df1=pd.DataFrame(l1,columns=['Text'])
df1

                                             Text
0                           70 gm of whey protien
1      One should use one scoop(25 gms) after gym
2                5 gm of creatinine is sufficient
3             2 scoops of whey is =45gm of protin
4     There are more than 5 brands that sell whey
5  There is still stigma around using supplements

In [28]:
# Replace all entires of gm with gms
# Normalise 'protin' with 'protein'
# Extract the weight in gms from each row of 'Text'

In [29]:
# Task 1:Replace all entires of gm with gms
df1['Text2']=df1['Text'].apply(lambda x: re.sub(r'\bgm\b','gms',x))
df1

,Text,Text2
0,70 gm of whey protien,70 gms of whey protien
1,One should use one scoop(25 gms) after gym,One should use one scoop(25 gms) after gym
2,5 gm of creatinine is sufficient,5 gms of creatinine is sufficient
3,2 scoops of whey is =45gm of protin,2 scoops of whey is =45gm of protin
4,There are more than 5 brands that sell whey,There are more than 5 brands that sell whey
5,There is still stigma around using supplements,There is still stigma around using supplements

In [30]:
# We can see that in the 4th row, 45gm has not been converted into 45 gms
# So we need to tweek in the regular expression a little

# Lets try out a small example to devolop the rule
# Replace the 450gm with 'd'
str1='450gm'
#re.findall(r'\d+[a-z][a-z]',str1)
#re.sub(r'\d+[gm][gm]','d',str1)   
#re.findall(r'\d+',str1)

re.findall(r'\d+',str1) # Extracts 450 
re.findall(r'[gm][gm]',str1)# Extracts only the gm portion
re.findall(r'\d+[gm][gm]',str1)
re.sub(r'\d+[gm][gm]',re.findall(r'\d+',str1)[0]+' '+ re.findall(r'[gm][gm]',str1)[0],str1)+'s'

'450 gms'

In [31]:
# We can modify the above regular expression for our purpose
df1

,Text,Text2
0,70 gm of whey protien,70 gms of whey protien
1,One should use one scoop(25 gms) after gym,One should use one scoop(25 gms) after gym
2,5 gm of creatinine is sufficient,5 gms of creatinine is sufficient
3,2 scoops of whey is =45gm of protin,2 scoops of whey is =45gm of protin
4,There are more than 5 brands that sell whey,There are more than 5 brands that sell whey
5,There is still stigma around using supplements,There is still stigma around using supplements

In [32]:
# re.sub(r'\d+[gm][gm]',re.findall(r'\d+',str1)[0]+' '+ re.findall(r'[gm][gm]',str1)[0],str1)+'s'
x=re.sub(r'\d+[gm][gm]',' '+re.findall(r'\d+[gm][gm]',df1['Text'][3])[0]+'s',df1['Text'][3])  
x
re.sub(r'[gm][gm]',' gm',x)

'2 scoops of whey is = 45 gms of protin'

In [33]:
rep1=[re.sub(r'\d+[gm][gm]',' '+"".join(re.findall(r'\d+[gm][gm]',i))+'s',i)   for i in df1['Text2']]
rep1

['70 gms of whey protien',
 'One should use one scoop(25 gms) after gym',
 '5 gms of creatinine is sufficient',
 '2 scoops of whey is = 45gms of protin',
 'There are more than 5 brands that sell whey',
 'There is still stigma around using supplements']

In [34]:
rep2=[re.sub(r'[gm][gm][s]',' gms',i) for i in rep1]
rep2

['70  gms of whey protien',
 'One should use one scoop(25  gms) after gym',
 '5  gms of creatinine is sufficient',
 '2 scoops of whey is = 45 gms of protin',
 'There are more than 5 brands that sell whey',
 'There is still stigma around using supplements']

In [35]:
df1['Text3']=rep2
df1
# So all 'gm' have been replaced with gms

,Text,Text2,Text3
0,70 gm of whey protien,70 gms of whey protien,70 gms of whey protien
1,One should use one scoop(25 gms) after gym,One should use one scoop(25 gms) after gym,One should use one scoop(25 gms) after gym
2,5 gm of creatinine is sufficient,5 gms of creatinine is sufficient,5 gms of creatinine is sufficient
3,2 scoops of whey is =45gm of protin,2 scoops of whey is =45gm of protin,2 scoops of whey is = 45 gms of protin
4,There are more than 5 brands that sell whey,There are more than 5 brands that sell whey,There are more than 5 brands that sell whey
5,There is still stigma around using supplements,There is still stigma around using supplements,There is still stigma around using supplements

In [36]:
# Lets replace protin with protein
df1['Text4']=[re.sub(r'\bprotin\b','protein',i) for i in df1['Text3']]

# Dropping Text2 and Text3 columns
df1.drop('Text2',axis=1,inplace=True)
df1.drop('Text3',axis=1,inplace=True)
df1

,Text,Text4
0,70 gm of whey protien,70 gms of whey protien
1,One should use one scoop(25 gms) after gym,One should use one scoop(25 gms) after gym
2,5 gm of creatinine is sufficient,5 gms of creatinine is sufficient
3,2 scoops of whey is =45gm of protin,2 scoops of whey is = 45 gms of protein
4,There are more than 5 brands that sell whey,There are more than 5 brands that sell whey
5,There is still stigma around using supplements,There is still stigma around using supplements

In [37]:
# Extract the weight in gms from each row of 'Text'

wt=[re.findall(r"\d+\s\s\bgms\b|\d+\s\bgms\b", i) for i in df1['Text4']]
wt

[['70  gms'], ['25  gms'], ['5  gms'], ['45 gms'], [], []]

In [38]:
z=[]
for i in wt:
    if len(i)==0:
        z.append('NA')
    else:
        z.append(i)
z

[['70  gms'], ['25  gms'], ['5  gms'], ['45 gms'], 'NA', 'NA']

In [39]:
# Unlisting of wt
z3=[]
for i in z:
   if type(i) is list:
    z3.append(i[0])
   else:
    z3.append(i)
z3

['70  gms', '25  gms', '5  gms', '45 gms', 'NA', 'NA']

In [40]:
wt_final=[i.split()[0] for i in z3]
wt_final

['70', '25', '5', '45', 'NA', 'NA']

In [41]:
# Adding the column to df1
df1['Weight']=wt_final
df1

,Text,Text4,Weight
0,70 gm of whey protien,70 gms of whey protien,70
1,One should use one scoop(25 gms) after gym,One should use one scoop(25 gms) after gym,25
2,5 gm of creatinine is sufficient,5 gms of creatinine is sufficient,5
3,2 scoops of whey is =45gm of protin,2 scoops of whey is = 45 gms of protein,45
4,There are more than 5 brands that sell whey,There are more than 5 brands that sell whey,NA
5,There is still stigma around using supplements,There is still stigma around using supplements,NA