In [1]:
# Loading libraries
import json
import pandas as pd
from pandas.io.json import json_normalize

In [2]:
# Loading the sample json file
with open('C:/Users/parag/Desktop/Blogspot/example_1.json',encoding='utf-8-sig') as data_file:
    data=json.load(data_file)
    
print(data)

{'fruit': 'Apple', 'size': 'Large', 'color': 'Red'}

In [9]:
# As can be seen that the data is structured as a python dictionary
# This json object has three keys and three values
# We can extract all the keys and values using the following command

data.keys()
# It has three keys

dict_keys(['fruit', 'size', 'color'])

In [11]:
# Extracting the first key value pair
k1=list(data.keys())[0]
data[k1]

'Apple'

In [13]:
# Extracting the second key value pair
k2=list(data.keys())[1]
data[k2]

'Large'

In [16]:
# Creating a dynamic set up to store key in data
l1=[]
for i in range(len(list(data.keys()))):
    l1.append(list(data.keys())[i])

print(l1)

['fruit', 'size', 'color']

In [18]:
# Creating a dynamic set up to store values in data
l2=[]
for j in range(len(list(data.keys()))):
    l2.append(data[list(data.keys())[j]])

print(l2)

['Apple', 'Large', 'Red']

In [20]:
# Appending l1 and l2 in a data frame
    
df=pd.DataFrame([l1,l2])
df.columns=['C1','C2','C3']
df

      C1     C2     C3
0  fruit   size  color
1  Apple  Large    Red

In [3]:
# Loading the sample json file
with open('C:/Users/parag/Desktop/Blogspot/example_2.json',encoding='utf-8-sig') as data_file:
    data2=json.load(data_file)
    
    
print(data2)

{'quiz': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?', 'options': ['New York Bulls', 'Los Angeles Kings', 'Golden State Warriros', 'Huston Rocket'], 'answer': 'Huston Rocket'}}, 'maths': {'q1': {'question': '5 + 7 = ?', 'options': ['10', '11', '12', '13'], 'answer': '12'}, 'q2': {'question': '12 - 8 = ?', 'options': ['1', '2', '3', '4'], 'answer': '4'}}}}

In [24]:
# Lets first identify the keys in data2 object
data2.keys()    
# Only one key

dict_keys(['quiz'])

In [5]:
# The data2 object is arranged as following
# There is item related to Subject such as Sports, amths
# The question sequence q1,q2....
# The question description
# Options
# Answer

In [7]:
# Extracting the subject name
ls_sub=list((data2.values()))
ls_sub_name=ls_sub[0].keys()
ls_sub_name

dict_keys(['sport', 'maths'])

In [54]:
# Extracting a subject names based on question asked
ls_full=[(k,v) for k,v in data2.items()]
print(ls_full)

[('quiz', {'sport': {'q1': {'question': 'Which one is correct team name in NBA?', 'options': ['New York Bulls', 'Los Angeles Kings', 'Golden State Warriros', 'Huston Rocket'], 'answer': 'Huston Rocket'}}, 'maths': {'q1': {'question': '5 + 7 = ?', 'options': ['10', '11', '12', '13'], 'answer': '12'}, 'q2': {'question': '12 - 8 = ?', 'options': ['1', '2', '3', '4'], 'answer': '4'}}})]

In [56]:
ls_full[0][0] # has a value of quiz

'quiz'

In [57]:
ls_full[0][1] # Its a dictionary:has the details for the sports and maths quiz

{'sport': {'q1': {'question': 'Which one is correct team name in NBA?',
   'options': ['New York Bulls',
    'Los Angeles Kings',
    'Golden State Warriros',
    'Huston Rocket'],
   'answer': 'Huston Rocket'}},
 'maths': {'q1': {'question': '5 + 7 = ?',
   'options': ['10', '11', '12', '13'],
   'answer': '12'},
  'q2': {'question': '12 - 8 = ?',
   'options': ['1', '2', '3', '4'],
   'answer': '4'}}}

In [58]:
ls_full[0][1].keys() # Gives the keys: sports and maths

dict_keys(['sport', 'maths'])

In [59]:
ls_full[0][1].values() # Gives the values: details of sports and maths quicz

dict_values([{'q1': {'question': 'Which one is correct team name in NBA?', 'options': ['New York Bulls', 'Los Angeles Kings', 'Golden State Warriros', 'Huston Rocket'], 'answer': 'Huston Rocket'}}, {'q1': {'question': '5 + 7 = ?', 'options': ['10', '11', '12', '13'], 'answer': '12'}, 'q2': {'question': '12 - 8 = ?', 'options': ['1', '2', '3', '4'], 'answer': '4'}}])

In [60]:
len(ls_full[0][1].values())# gives a value of 2
# we will loop through this as it contains the question for each subject

2

In [63]:
# now we have to loop through ls_full[0][1]
ls_sub_nm=[]

for i in ls_full[0][1].values():
    tmp=len(i)
    for k in range(tmp):
        ls_sub_nm.append(list(ls_full[0][1].keys())[len(i)-1])

print(ls_sub_nm)

['sport', 'maths', 'maths']

In [65]:
# Extracting the question sequence
ls_qn=list((data2.values()))
list(ls_sub[0].values())[0].keys()
    
ls_qn_num=[]
for i in list(ls_sub[0].values()):
    temp=len(i)
    while temp >=1 :
        ls_qn_num.append(list(i.keys())[-temp])
        temp=temp-1

ls_qn_num
# The ls_qn_num contains the list of questions asked in the exam

['q1', 'q1', 'q2']

In [66]:
# Extracting the question descritpion
ls_qn=list((data2.values()))
list(list(list(ls_sub[0].values())[0].values())[0].values())[0]

type(ls_sub[0].values())
ls_qn_des=[]
for i in list(ls_sub[0].values()):
    temp=len(i)
    while temp >=1 :
        ls_qn_des.append(list(i.values())[-temp]['question'])
        temp=temp-1

ls_qn_des        
# The ls_qn_des contains the description of questions asked in the exam

['Which one is correct team name in NBA?', '5 + 7 = ?', '12 - 8 = ?']

In [67]:
# Extracting the options 
ls_qn_optn=[]
for i in list(ls_sub[0].values()):
    temp=len(i)
    while temp >=1 :
        ls_qn_optn.append(list(i.values())[-temp]['options'])
        temp=temp-1
ls_qn_optn

[['New York Bulls',
  'Los Angeles Kings',
  'Golden State Warriros',
  'Huston Rocket'],
 ['10', '11', '12', '13'],
 ['1', '2', '3', '4']]

In [68]:
# Extracting the answer marked 
ls_qn_ans=[]
for i in list(ls_sub[0].values()):
    temp=len(i)
    while temp >=1 :
        ls_qn_ans.append(list(i.values())[-temp]['answer'])
        temp=temp-1

ls_qn_ans

['Huston Rocket', '12', '4']

In [69]:
# Combining the above lists into a pandas data frame
df2=pd.DataFrame([ls_sub_nm,ls_qn_num,ls_qn_des,ls_qn_optn,ls_qn_ans]).T     
df2.columns=['Subject_Name','Question_Num','Question','Options','Answer']
print(df2)

  Subject_Name Question_Num                                Question  \
0        sport           q1  Which one is correct team name in NBA?
1        maths           q1                               5 + 7 = ?
2        maths           q2                              12 - 8 = ?

                                             Options         Answer
0  [New York Bulls, Los Angeles Kings, Golden Sta...  Huston Rocket
1                                   [10, 11, 12, 13]             12
2                                       [1, 2, 3, 4]              4

In [ ]:
# So it can be seen that the above lists have been converted into a data framw which is a standard structure used 
# in most data analysis